extends ../layout

block content
  
  a(href='/bike') Volver
  
  br
  br
  br

  h1 Añadir bicicleta

  br
  br
  br

  form(action='/bike/add-bike' method='POST')
    label(for='id-input') Id:
    input#id-input(type='text' name='id')
    br
    label(for='color-input') Color:
    input#color-input(type='text' name='color')
    br
    label(for='model-input') Modelo:
    input#model-input(type='text' name='model')
    br
    label(for='lat-input') Latitud:
    input#lat-input(type='text' name='lat')
    br
    label(for='lng-input') Longitud:
    input#lng-input(type='text' name='lng')
    br
    input#submit-btn(type='submit' value='Añadir')