extends ../layout

block content
  a(href='/bike/add-bike') ¡Añade una Bicicleta!

  table.table
    thead
      tr
        th(scope = 'col') #
        th(scope = 'col') Color
        th(scope = 'col') Model
        th(scope = 'col') Location 
        th(scope = 'col') 
        th(scope = 'col') 
        
    tbody
      each bike in bikeList
        tr
          td(scope = 'row')=bike.id
          td= bike.color 
          td= bike.model
          td= bike.location
          td
            a.btn(href='/bike/' + bike.id + '/update-bike/') ACTUALIZAR
          //-
            a.btn(href='/bike/update-bike/?id=' + bike.id) ACTUALIZAR
          //-
            a.btn(href=`/bike/${bike.id}/update-bike`) ACTUALIZAR
          //-
            form.update(method='get', action='/bike/' + bike.id + '/update-bike')
              input(type='hidden' name='id' value=bike.id)
              button.link-button.btn(type='submit' value='') ACTUALIZAR 
          td
            form.delete(method='POST', action='/bike/' + bike.id + '/delete-bike')
              input(type='hidden' name='id' value=bike.id)
              button.link-button.btn(type='submit') ELIMINAR