extends ../layout

block content
  
  a(href='/bike') Volver
  
  br
  br
  br

  h1 Actualizando bicicleta #{bike.id}

  br
  br
  br

  form(action='/bike/' + bike.id + '/update-bike' method='POST')
    input#id-input(type='hidden' name='id' value=bike.id)
    br
    label(for='color-input') Color:
    input#color-input(type='text' name='color'  value=bike.color)
    br
    label(for='model-input') Modelo:
    input#model-input(type='text' name='model' value=bike.model)
    br
    label(for='lat-input') Latitud:
    input#lat-input(type='text' name='lat'  value=bike.location[0])
    br
    label(for='lng-input') Longitud:
    input#lng-input(type='text' name='lng' value=bike.location[1])
    br
    input#submit-btn(type='submit' value='Actualizar')